* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Pretendard Variable', 'Inter', sans-serif;
    background: #CDE3EE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .homepage-container {
    padding: 2rem;
    margin-top: 2rem;
    height: 800px;
    width: 1300px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  /* 메뉴바 */
  .menubar {
    height: 600px;
    width: 65px;
    background: white;
    border-radius: 35px;
    
    margin-top: 40px;
    padding-top: 30px;
    
    
    box-shadow: 2px 6px 12px rgba(148, 163, 184, 0.35);
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menubar a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
  }
  
  
  
  .menu-item {
    
    height: 63px;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    
  }
  
  
  .fa-star {
    border:3px solid;
    padding: 3px;
    margin-bottom: 4px;
    border-radius: 30px;
  }
  
  .menu-item a {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  /* 메인 컨테이너 */
  .homepage {
    width: 93%;
    
    padding: 25px;
    padding-right: 40px;
    
    background-color: white;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
  }
  
  /* 가운데 박스 */
  .center-box {
    width: 100%;
  
    padding: 15px;
  
    background: #CDE3EE80;
    border-radius: 20px;
  
  }
  
  .test-box {
  
    width: 90%;
    height: 100%;
    margin-left: 30px;
  
    border-radius: 20px;
    background: white;
    
    box-shadow: 2px 4px 18px rgba(95, 107, 122, 0.35);
  }
  
  
  
  /* 오른쪽 박스 */
  .right-box {
    width: 350px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  .right-box > div {
  
    border-radius: 20px;
  
  }
  
  /* 프로필 */
  .profile {
    flex-basis: 33%;
    width:90%;
    background: #CDE3EE;
    
    display: flex;
    flex-direction: column;
  }
  
  .profile-test {
    flex-basis: 44%;
    display: flex;
  }
  
  .profile-img {
    flex-basis: 44%;
  
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .profile-text {
    flex-basis: 56%;
  
    display: flex;
    flex-direction: column;
  }
  
  .profile-nickname {
    flex-grow: 1;
  
    display: flex;
    align-items: center;
  }
  
  .profile-edit {
    flex-grow: 1;
  
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .profile-edit > a{
  
    color: black;  
    font-size: 10px;
    text-decoration: none;
  }
  
  .profile-edit > span{
    padding: 0px 5px;
    font-size: 15px;
  }
  
  .profile-introduction {
    padding: 8px;
  
    flex-basis: 56%;
  }
  
  .profile-introduction > div {
    height: 100%;
    width: auto;
    background: #FFFFFF80;
    border-radius: 20px;
  }
  
  
  /* 달력 */
  .calendar {
    flex-basis: 44%;
    width:90%;
    background: #CDE3EE;
  }
  
  /* 친구 목록 랜덤 방문*/
  .friend-box {
    flex-basis: 11%;
  
    width:90%;
    padding: 10px;
  
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .friend-box button {
    width: 80px;
    height: 35px;
    background: #CDE3EE;
    border-radius: 10px;
  
    border: 0px;
    background: #007096;

    cursor: pointer;
  
  }
  
.alert-write{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard Variable', 'Inter', sans-serif;
  background: #CDE3EE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.homepage-container {
  padding: 2rem;
  margin-top: 2rem;
  height: 800px;
  width: 1300px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* 메뉴바 */
.menubar {
  height: 600px;
  width: 65px;
  background: white;
  border-radius: 35px;

  margin-top: 40px;
  padding-top: 30px;


  box-shadow: 2px 6px 12px rgba(148, 163, 184, 0.35);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.menubar a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}



.menu-item {

  height: 63px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


  /* div {
    border: 1px solid;
  } */
.fa-star {
  border: 3px solid;
  padding: 3px;
  margin-bottom: 4px;
  border-radius: 30px;
}

.menu-item a {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* 메인 컨테이너 */
.homepage {
  width: 93%;

  padding: 25px;
  padding-right: 40px;

  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
}

/* 가운데 박스 */
.center-box {
  width: 100%;

  padding: 15px;

  background: #CDE3EE80;
  border-radius: 20px;

}

/* 11.27 pagintion 추가로 인한 flex 추가 신동국 */
.test-box {

  width: 90%;
  height: 100%;
  margin-left: 30px;

  border-radius: 20px;
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-shadow: 2px 4px 18px rgba(95, 107, 122, 0.35);
}


/* 페이지 네이션 시작 */
/* 11.27일 추가 - 신동국*/
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 10px;
}

.pagination li {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}

.current {
  font-weight: bold;
  background-color: #007096;
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}
/* 페이지 네이션 끝 */






/* 오른쪽 박스 */
.right-box {
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.right-box>div {

  border-radius: 20px;

}




/* 프로필 */
.profile {
  flex-basis: 33%;
  width: 90%;
  background: #CDE3EE;

  display: flex;
  flex-direction: column;
}

.profile-test {
  flex-basis: 44%;
  display: flex;
}

.profile-img {
  flex-basis: 44%;

  display: flex;

  justify-content: center;
  align-items: center;
}

.profile-text {
  flex-basis: 56%;

  display: flex;
  flex-direction: column;
}

.profile-nickname {
  flex-grow: 2;
  margin-top: 5px;

  display: flex;
  align-items: center;
}

.profile-edit {
  flex-grow: 1;


  display: flex;
  align-items: center;
}

/* 11.27일 추가 - 신동국 */
.logout {
  flex-grow: 3;

  display: flex;
  align-items: center;
}

.logout button {
  margin: 0px 10px;
  border: 0px;
  padding: 4px 5px;
  background-color: #007096;
  border-radius: 10px;

  color: white;
  font-size: 15px;
  
}

.profile-edit>a {

  color: black;
  font-size: 10px;
  text-decoration: none;
}

.profile-edit>span {
  padding: 0px 5px;
  font-size: 15px;
}

.profile-introduction {
  padding: 8px;

  flex-basis: 56%;
}

.profile-introduction>div {
  height: 100%;
  width: auto;
  background: #FFFFFF80;
  border-radius: 20px;
}





/* 달력 */
.calendar {
  flex-basis: 44%;
  width: 90%;
  background: #CDE3EE;
}




/* 친구 목록 랜덤 방문*/
.friend-box {
  flex-basis: 11%;

  width: 90%;
  padding: 10px;


  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.friend-box button {
  width: 90px;
  height: 35px;
  background: #CDE3EE;
  border-radius: 10px;

  font-size: 16px;
  color: white;
  font-weight: bold;

  border: 0px;
  background: #007096;

  cursor: pointer;
}

/* div {
    border: 1px solid;
} */
