* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard Variable', 'Inter', sans-serif;
  background: #CDE3EE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 2rem;
  text-align: center;
}

.logo h1 {
  color: #4B6EFF;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.logo h2 {
  color: #FFA726;
  font-size: 1.5rem;
}

.changePw-container{
  background: white;
  border-radius: 20px;
  padding: 3rem;
  margin-top: 2rem;
  width: 90%;
  max-width: 732px;
  box-shadow: 2px 6px 12px rgba(148, 163, 184, 0.35);
}

.changePw-title {
  color: #10708F;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form-section {
  margin-top: 20px;
}

.changePw-title {
  color: #10708F;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  
}

/* 메세지 색상 지정 */
.confirm{ color : green; }
.error{ color : red; }

.formSection input {

  border: none;
  border-bottom: 1px solid #E2E8F0;
  width: 620px;
  margin-top: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.input-row input,
.dual-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.signUp-message {
  font-size: 13px;
}

.changePw-button {
  background: #10708F;
  color: white;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.changePw-button:hover {
  background: #0D5A73;
}

.footer {
  margin-top: 2rem;
  text-align: center;
}

.footer a {
  color: #4C4C4C;
  text-decoration: none;
  margin: 0 0.5rem;
}


@media (max-width: 640px) {
  .changePw-container {
      padding: 2rem;
  }
}