/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.logo {
  text-align: center;
  background-color: #CDE3EE;
}

.logo h1 {
  color: #4B6EFF;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.logo h2 {
  color: #FFA726;
  font-size: 1.5rem;
}

/* Background */
.background {
  background-color: #CDE3EE;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Container */
.container {
  width: 100%;
  max-width: 732px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

/* Header */
.header h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.header p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Form Section */
.form-section {
  margin-top: 20px;
}

.form-title {
  color: #10708F;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  
}

/* 메세지 색상 지정 */
.confirm{ color : green; }
.error{ color : red; }

.form-section input {

  border: none;
  border-bottom: 1px solid #E2E8F0;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.input-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

#select-domain {

  width: 100%;
  margin-right: 1rem;
  
  border-radius: 5px;
  border: #10708F 3px solid; 
}

.input-row input,
.dual-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  background-color: #10708F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #E5EAEC;
  color: #6a6a6a;
}

.full-width {
  width: 100%;
  margin-top: 20px;
}

.footer-links {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}

.footer-links a {
  color: #4C4C4C;
  text-decoration: none;
  margin: 0 5px;
}
