<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4d970bf746.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/boards/board.css">
    <link rel="stylesheet" href="/css/boards/boardDetail.css">


</head>

<body>
    <div class="homepage-container">

        <th:block th:replace="~{base/menubar}"></th:block>  <!-- 메뉴바-->

        <div class="homepage">

            <div class="center-box">
                <div class="test-box">

                    
                </div>

            </div>

            <th:block th:replace="~{base/rightbox}"></th:block>
            
        </div>




        </div>

    </div>

    <script src="/js/boards/board.js"></script>
    <script src="/js/base.js"></script>

</body>

</html>