<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/4d970bf746.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/boards/main.css">

</head>

<body>
  <div class="homepage-container">

    <th:block th:replace="~{base/menubar}"></th:block>

    <div class="homepage">

      <div class="center-box">
        <!-- <div class="logo">
                  <h1>2 YEARS APART</h1>
        
                  <h2>MINI HOMEPAGE</h2>
                </div>
        
                <div id="alertselect-content" name="alertSelectContent" class="alertselect-content">    용찬 : 파일명, class명 변경 id,name 추가


                  <span>미작성 시 - 출력 <br><br>공지사항을 입력해주세요</span>
                  <span>
                    <br><br>작성시 ol li 태그로 작성 추천 구분할 방법이 생각 안 날시
                    편한대로 작성
                  </span>
                  <ol>
                    <li>
                      test1
                    </li>
                    
                    <li>
                      test2
                    </li>
                    
                    <li>
                      test3
                    </li>
                  </ol>
                </div> -->


      </div>




      <th:block th:replace="~{base/rightbox}"></th:block>

    </div>

  </div>

  <input type="text" id="memberNo" th:value="${session.loginMember.memberNo}" hidden>
  <script src="/js/main.js"></script>



</body>

</html>