<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
    <div class="logo">
        <h1>2 YEARS APART</h1>
        <h2>MINI HOMEPAGE</h2>
    </div>
  <div class="background">
    <div class="container">
      <div class="header">
      
      </div>
      <form action="/member/signup" class="formSection" method="POST">
        <h2 class="form-title">회원가입</h2>      
        <br>
        <h4 style="text-align: left;">'*'은 필수 입력 사항입니다.</h4>
        <br>

        <!-- ID Input -->
        <div class="form-group">
          <label for="memberId">* ID</label>
          <div class="input-row">
            <input type="text" name="memberId" id="memberId" class="memberId" placeholder="아이디 입력" value="test">
            <button type="button" id="checkId" class="btn btn-secondary">중복확인</button>
          </div>
          <span class="signUp-message" id="idMessage"></span>
        </div>


        <!-- Password -->
        <div class="form-group">
          <label for="memberPw">* 비밀번호</label>
          <div class="input-row">
            <input type="password" name="memberPw" id="memberPw" class="memberPw" placeholder="********" value="test123">
          </div>
          <span class="signUp-message" id="pwMessage"></span>
          
        </div>
        <div class="form-group">
          <label for="memberPwConfirm">비밀번호 확인</label>
          <div class="input-row">
            <input type="password" name="memberPwConfirm" id="memberPwConfirm" class="memberPwConfirm" placeholder="********" value="test123">
          </div>
          <span class="signUp-message" id="checkPwMessage"></span>
        </div>


        <!-- Email -->
        <div class="form-group">
          <label for="memberEmail">* Email</label>
          <div class="input-row">
              <input type="text" name="memberEmail" id="member-email-id" placeholder="이메일" maxlength="18" autocomplete="off" value="test"/>
              <span>@</span> 
              <input type="text" name="memberEmail" id="member-email-domain" placeholder="이메일 도메인" maxlength="18" autocomplete="off" value="test.com"/>
  
              <div class="memberEmail" id="memberEmail">
                  <select name="memberEmail" id="memberEmail">
                    <option value="text">직접입력</option>
                    <option value="naver.com">naver.com</option>
                    <option value="hanmail.net">hanmail.net</option>
                    <option value="hotmail.com">hotmail.com</option>
                    <option value="nate.com">nate.com</option>
                    <option value="yahoo.co.kr">yahoo.co.kr</option>
                    <option value="gmail.com">gmail.com</option>
                  </select>
                </div>
  
                <button type="button" id="sendAuthKeyBtn" class="btn btn-secondary">인증번호 받기</button>
          </div>
            <span class="signUp-message" id="emailMessage"></span>
  
        </div>


        
        <!-- 인증번호 입력 -->
        <div class="form-group">
          <label for="authKey">인증번호 입력</label>
          <div class="input-row">
            <input type="text" name="authKey" id="authKey" placeholder="인증번호 입력">
            <button type="button" id="checkAuthKeyBtn" class="btn btn-secondary">확인</button>
          </div>
            <span class="signUp-message" id="authKeyMessage"></span>
            <!-- 인증번호가 일치하지 않습니다 -->
        </div>

        <!-- Name -->
        <div class="form-group">
          <label for="memberNickname">* 닉네임</label>
          <div class="input-row">
            <input type="text" name="memberNickname" id="memberNickname" placeholder="닉네임 입력" value="바보">
            <button type="button" id="checkNickname" class="btn btn-secondary">중복확인</button>
          </div>
          <span class="signUp-message" id="nicknameMessage">한글, 영어, 숫자로만 2~10 글자로 입력해주세요.</span>
        </div>

        <!-- 주민등록번호 -->
         
        <div class="form-group dual-input">
          <label for="personalCode">* 주민등록번호</label>
          <input type="text" name="personalCode" id="personalCode1" class="personalCode1" maxlength="6" placeholder="앞자리 (예: 900101)" value="123465">
          <span>-</span>
          <input type="password" name="personalCode" id="personalCode2" class="personalCode2" maxlength="7" placeholder="뒷자리 (예: 1234567)" value="1234567">
          <span class="signUp-message" id="personalMessage"></span>
        </div>
        

        <!-- Phone -->
        <div class="form-group dual-input">
          <label for="memberTel">* 핸드폰번호</label>
          <input type="text" name="memberTel" id="memberTel1" class="memberTel" maxlength="3" placeholder="010" value="010">
          <span>-</span>
          <input type="text" name="memberTel" id="memberTel2" class="memberTel" maxlength="4" placeholder="1234" value="1234">
          <span>-</span>
          <input type="text" name="memberTel" id="memberTel3" class="memberTel" maxlength="4" placeholder="5678" value="1234">
        </div>

        <!-- Home -->
        <div class="form-group dual-input">
          <label for="memberHomeTel">연락처(집)</label>
          <input type="text" name="memberHomeTel" id="memberHomeTel1" class="memberHomeTel" maxlength="3" placeholder="02">
          <span>-</span>
          <input type="text" name="memberHomeTel" id="memberHomeTel2" class="memberHomeTel" maxlength="4">
          <span>-</span>
          <input type="text" name="memberHomeTel" id="memberHomeTel3" class="memberHomeTel" maxlength="4">
        </div>

        <!-- Address -->
        <div class="form-group">
            <label for="Adress">주소</label>
            <div class="input-row">
              <input type="text" name="memberAdress" id="postcode" class="Adress" placeholder="우편번호" readonly value="탐라국">
              <button type="button" id="searchAddress" class="btn btn-secondary">검색</button>
            </div>
            <div class="input-row">
              <input type="text" name="memberAdress" id="address" class="Adress" placeholder="기본 주소" readonly value="돌할아버지 3번지">
            </div>
            <div class="input-row">
              <input type="text" name="memberAdress" id="detailAddress" class="Adress" placeholder="상세 주소" value="감귤 1박스">
            </div>
          </div>
  
        <button type="submit" id="signUpForm" class="btn full-width">회원가입</button>
      </form>

    

      <div class="footer-links">
        <a href="#">홈페이지소개</a> | 
        <a href="#">개인정보처리방침</a> | 
        <a href="#">고객센터</a>
      </div>
    </div>
  </div>
  <script src="/js/signUp.js"></script> 
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</html>
