<div class="menubar">

    <div class="menu-item">

        <a href="#"><i class="fa-solid fa-star"></i>메인</a>
    </div>

    <div class="menu-item">

        <a href="#"><i class="fa-solid fa-star"></i>게시판</a>
    </div>

    <div class="menu-item">

        <a href="#"><i class="fa-solid fa-star"></i>사진첩</a>

    </div>

    <div class="menu-item">

        <a href="#"><i class="fa-solid fa-star"></i>방명록</a>

    </div>

    <div class="menu-item">

        <a href="#"><i class="fa-solid fa-star"></i>메모장</a>

    </div>

</div>