<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twogap.project.member.model.mapper.MemberMapper">

	<select id="selectMember">
		SELECT

			MEMBER_NO,
			MEMBER_ID,
			MEMBER_PW,
			MEMBER_EMAIL,
			MEMBER_NICKNAME,
			MEMBER_DEL_FL,
			MEMBER_TEL,
			MEMBER_HOME_TEL,
			MEMBER_ADRESS,
			PROFILE_IMG,
			PERSONAL_CODE,
			BACKGROUND_COLOR,
			AUTHORITY,
			INTRODUCTION
			
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	<select id="alertContentView">
	SELECT ALERT_CONTENT FROM "ALERT"
	JOIN "MEMBER" USING (MEMBER_NO)
	WHERE MEMBER_NO = ${memberNo}
	</select>
	
</mapper>
