<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twogap.project.note.model.mapper.NoteMapper">

	<select id="getNoteListCount">
		SELECT COUNT(*) FROM "NOTE"
		WHERE MEMBER_NO = #{memberNo}	
	</select>

	<select id="noteSelectList">
		SELECT 
		
			NOTE_NO,
			NOTE_CONTENT,
			NOTE_COLOR,
			TO_CHAR(NOTE_DATE, 'YYYY-MM-DD HH24:MI:SS') "NOTE_DATE",
			TO_CHAR(NOTE_UPDATE_DATE, 'YYYY-MM-DD HH24:MI:SS') "NOTE_UPDATE_DATE",
			MEMBER_NO,
			BOARD_TYPE_NO
			
		FROM "NOTE"
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY 1 DESC
	</select>
	
</mapper>
